<% the_user = params.fetch("user_name") %>

<h1><%= the_user %> </h1>

<% @user = User.where(:username => the_user).at(0) %>
<dl>
  <dt>
    ID
  </dt>
  <dd>
    <%= @user.id %>
  </dd>

  <dt>
    Edit user
  </dt>
  <dd>
    <form action="/update_user/112" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" value=<%= @user.username %>>

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (11)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
    </th>
  </tr>

<% Photo.where(:owner_id => @user_id).each do |photo|%>

    <tr>
      <td>
        <img src="https://robohash.org/occaecatiquianimi.png?size=300x300&amp;set=set1">
      </td>

      <td>
        <%= @user.username %>
      </td>

      <td>
        <%= photo.caption %>
      </td>

      <td>
        <%= photo.created_at%>
      </td>

      <td>
        <a href="/photos/<%= photo.id %>">
          Show details
        </a>
      </td>
    </tr>
    <% end %>
    </table>
